.text {
    line-height: 2.5vw;
}

#line1 {
    font-size: 2.5vw;
}

#line2 {
    font-size: 1vw;
}

.ag-theme-alpine {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    height: 80%;
    opacity: 0.5;
    direction: rtl;
    width:80%
}

.circle {
    padding: 2px;
}

.remove {
    padding: 2px;
    height: 70%;
    opacity: 0.3;

}