.text {
    line-height: 2.5vw;
}

#line1 {
    font-size: 3vw;
}

#line2 {
    font-size: 1.5vw;
}

.ag-theme-alpine {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    height: 80%;
    opacity: 0.5;
    width: 80%
}

.ag-cell-value {
    direction: rtl;
}

.ag-cell {
    border: solid 0.5px;
    border-color: rgb(163, 160, 160);
}


.remove {
    padding: 2px;
    height: 70%;
    opacity: 0.3;
}

.updated-image.updated {
    animation: pulse 0.5s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}