@font-face {
    font-family: "lineFont";
    src: url("../resources/fonts/Miri\ Medium.ttf");
}

@font-face {
    font-family: "regularFont";
    src: url("../resources/fonts/FbMagnolia-Regular.otf");
}

body,
html {
    height: 100%;
    margin: 0;
    user-select: none;
}

.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2.5%;
    font-family: "lineFont";
    padding-bottom: 2.5%;
    background-image: url('../resources/images/background.gif');
}

.text {
    position: absolute;
    left: 2.5%;
    top: 15%;
    bottom: 10%;
    width: 95%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-variant: normal;
    line-height: 4vw;
    color: white;
}

#line1 {
    font-size: 5vw;
    color: #fcbdf9;
    font-weight: 800;
    text-shadow:
        0 0 10px #e028e5,
        0 0 5px #e028e5,
        0 0 10px #e028e5,
        0 0 5px #e028e5,
        0 0 10px #e028e5,
        0 0 5px #e028e5,
        0 0 10px #e028e5,
        0 0 5px #e028e5,
        0 0 10px #e028e5;
}

#line2 {
    font-size: 3vw;
    color: #e028e5;
}

.my-input {
    border-color: transparent;
    color: transparent;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.circle {
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    height: 100%;
    padding: 7px;
    transition: transform 0.3s;
}

.circle:hover,
.circle:focus {
    transform: scale(1.1);
}

.elipse {
    background-color: white;
    opacity: 0.3;
    border-radius: 11px;
    line-height: normal;
    height: 100%;
    border: none;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.elipse:focus {
    outline: none;
}

.menue {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    display: flex;
    height: 40px;
    width: 95%;
}

.closeBtn {
    margin-left: 2.5%;
    width: 95%;
    height: 40px;
    text-align: left
}

.input {
    height: 40px;
    width: 30%;
    direction: rtl;
}