.text {
  position: absolute;
  left: 2.5%;
  top: 15%;
  bottom: 10%;
  width: 95%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-variant: normal;
  line-height: 4.5vw;
  color: white;
}

#line1 {
  font-size: 4vw;
  color: white;
  font-weight: 800;
  text-shadow:
    0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de;
  /* color: #5ACBEE; */
  /* text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black; */
  /* text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; */
  /* text-shadow:
    0 0 5px #e028e5,
    0 0 10px #e028e5,
    0 0 5px #e028e5,
    0 0 10px #e028e5,
    0 0 5px #e028e5,
    0 0 10px #e028e5,
    0 0 5px #e028e5,
    0 0 10px #e028e5; */
}

.neon-text {
  font-size: 2vw;
  color: white;
  font-weight: 800;
}

.neon-text::after {
  content: attr(data-text);
  color: #ff00de;
  text-shadow: 0 0 10px #ff00de,
    0 0 20px #ff00de,
    0 0 30px #ff00de,
    0 0 40px #ff00de,
    0 0 70px #ff00de,
    0 0 80px #ff00de,
    0 0 100px #ff00de,
    0 0 150px #ff00de;
}

#line2 {
  font-size: 2vw;
  color: #ff00de;
  /* text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; */
  /* font-weight: 800; */
  /* text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white; */
}

#container {
  display: none;
  width: 80%;
  margin-left: 12.5%;
}

.lottery-number-input {
  width: 20%;
  height: 200px;
  margin-left: 2.5%;
  padding-top: 3%;
  border-radius: 11px;
  border: 10px solid #00ffff;
  background: rgba(253, 253, 253, 0.25);
  font-size: 10vw;
  font-weight: 500;
  font-family: 'regularFont';
  text-align: center;
  color: #00ffff;
  transition: font-size 3s;
  box-shadow:
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff;
}

#start {
  display: block;
  width: 25vw;
}

.circle {
  background-color: white;
  opacity: 0.3;
  border-radius: 50%;
  padding: 7px;
  height: 100%;
}

.elipse {
  background-color: white;
  opacity: 0.3;
  border-radius: 11px;
  line-height: normal;
  height: 100%;
  border: none;
}

.elipse:focus {
  outline: none;
}

.menue {
  display: flex;
  height: 40px;
}