.neon-text {
  font-size: 2vw;
  color: white;
  font-weight: 800;
}

.neon-text::after {
  content: attr(data-text);
  color: #ff00de;
  text-shadow: 0 0 10px #ff00de,
    0 0 20px #ff00de,
    0 0 30px #ff00de,
    0 0 40px #ff00de,
    0 0 70px #ff00de,
    0 0 80px #ff00de,
    0 0 100px #ff00de,
    0 0 150px #ff00de;
}

#container {
  display: none;
  width: 80%;
  margin-left: 12.5%;
}

.lottery-number-input {
  width: 20%;
  height: 200px;
  margin-left: 2.5%;
  padding-top: 3%;
  border-radius: 11px;
  border: 10px solid #00ffff;
  background: rgba(253, 253, 253, 0.25);
  font-size: 10vw;
  font-weight: 500;
  font-family: 'regularFont';
  text-align: center;
  color: #00ffff;
  transition: font-size 3s;
  box-shadow:
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff;
}

.circle {
  padding: 7px;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.flicker-button {
  animation: flicker 1s infinite;
}

.neon {
  box-shadow:
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff;
  /* 0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de,
    0 0 5px #ff00de,
    0 0 10px #ff00de; */
  width: 30%;
  height: 60px;
  border-radius: 20px;
}