.neon-text {
  font-size: 2vw;
  color: white;
  font-weight: 800;
}

#container {
  width: 80%;
  margin-left: 12.5%;
}

#content {
  display: none;
}

.lottery-number-input {
  width: 20%;
  height: 200px;
  margin-left: 2.5%;
  padding-top: 3%;
  border-radius: 11px;
  border: 10px solid #00ffff;
  background-color: transparent;
  font-size: 10vw;
  font-weight: 500;
  font-family: 'regularFont';
  text-align: center;
  color: #00ffff;
  transition: font-size 3s;
  box-shadow:
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff;
}

.circle {
  padding: 7px;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.flicker-button {
  animation: flicker 1s infinite;
}

.neon {
  background-color: transparent;
  color: #00ffff;
  font-size: 2vw;
  box-shadow:
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff;
  width: 50%;
  height: 70px;
  border-radius: 20px;
}